body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  min-width: 375px;
  margin: 0 auto;
}

/*****Mediaqueries******/
@media screen and (min-width: 375px) and (max-width: 767px) {
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}