
$full-width:100%;
$full-width-form:90%/*100%*/;
$max-width:1280px;
$min-width:375px;
$red:hsl(0, 100%, 74%);
$green:hsl(154, 59%, 51%);
$blue:hsl(248, 32%, 49%);
$dark-blue:hsl(249, 10%, 26%);
$grayish-blue:hsl(246, 25%, 77%);
$white:#ffffff;
$margin-center:0 auto;
$position-absolute:absolute;
$position-relative:relative;
$height:100%;
$overflow-hidden:hidden;
$containers-width:40%/*50%*/;




body, html {
    width:$full-width;
    height:$height;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
}
.main-container {
    position:relative;
    height:100%;
    overflow:$overflow-hidden;
    & .bckg-img {
        position:$position-absolute;
        height:$height;
        z-index:100;
        width:$full-width;
    }
    & .bckg-color {
        position:$position-absolute;
        height:$height;
        width:$full-width;
        z-index:10;
        background:$red;
        opacity:0.85;
    }
}
.container {
    max-width:$max-width;
    min-width:$min-width;
    height:$height;
    margin:$margin-center;
    position:$position-relative;
    z-index:1000;
    & .left-cont {
        float:left;
        width:$containers-width;
        height:$height;
        padding:0 5%;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction:column;
        & h1 {
            width:$full-width;
            margin:0 0 20px 0;
            font-size:44px;
            color:$white;
            line-height: 50px
        }
        & p {
            width:$full-width;
            color:$white;
            margin:0;
        }
    }
    & .right-cont {
        float:left;
        width:$containers-width;
        height:$height;
        padding:0 5%;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction:column;
        & button {
            cursor:pointer;
            box-shadow:1px 5px 6px -1px rgba(51,51,51,0.73);
        }
        & .try-button {
            width:110%;
            display:block;
            padding:0;
            background:$blue;
            height:45px;
            border-radius:5px;
            border:inherit;
            outline:inherit;
            color:$white;
            font-weight:400;
            margin-bottom:25px;
            & span {
                font-weight:700;
            }
        }
        & form {
            width:$full-width;
            background:$white;
            padding:5%;
            border-radius:10px;
            & .form-inputs {
                margin-bottom:20px;
                & input {
                width:$full-width-form;
                padding-left:5%;
                padding-right:5%;
                display:block;
                border:solid 1px $grayish-blue;
                border-radius:5px;
                height:40px;
                margin-bottom:15px;
                }
                & input:last-child {
                    margin-bottom:0;
                }
                & input:hover, input:active, input:before, input:after, input:focus {
                    border:solid 1px $blue;
                }
            }
            & .trail-button {
                width:101%;
                display:block;
                padding:0;
                background:$green;
                height:45px;
                border-radius:5px;
                border:inherit;
                outline:inherit;
                color:$white;
                font-weight:700;
                text-transform:uppercase;
                margin-bottom:15px;
            }
            & p {
                width:$full-width;
                margin:0;
                font-size:10px;
                color:$grayish-blue;
                text-align:center;
                & a {
                    color:$red;
                }
            }
        }
    }
}





/*****Mediaqueries******/

@media screen and (min-width: 375px) and (max-width: 767px) {
    body, html {
        width:100%;
        margin:0;
        padding:0;
    }
}
    